[2015-12-03 10:32] jan-tosovsky-cz opened #8 "Support for Pelias"
It would be nice to add https://github.com/pelias/pelias geocoding service to the list of geocoders.

[2015-12-03 10:47] jonataswalker commented on #8
Really nice @jan-tosovsky-cz. I'll take a look.

[2015-12-03 17:27] nicolastelfer opened #9 "Customizable search bar"
It would be a great advantage to be able to select my custom search bar and implement the ol3-geocoder functionality to it. It would give more flexibility to the UI.

[2015-12-03 17:56] jonataswalker commented on #9
Indeed @nicolastelfer, labeled to do.

[2015-12-03 20:45] jonataswalker commented on #8
Done, see #10.

[2015-12-03 20:45] #8 closed

[2015-12-03 20:50] jonataswalker commented on #9
Actually this will be harder than I thought initially.

@nicolastelfer are you aware that you can customize the control with CSS?

[2015-12-03 21:33] jan-tosovsky-cz commented on #8
Wow, amazing job! Thanks a lot.

[2016-01-21 21:54] dddesign opened #13 "closing search bar"
hey jonatas, great plugin!

this case is working:
I open the searchbar > type keywords > hit enter > the result is showing up > I dont select one of the result but instead I click outside of results > results and searchbar is hiding

this one not:
I open the searchbar > I dont type anything but want to close the searchbar again > I click outside of searchbar > nothing happens but I expect that the

[2016-01-22 17:06] #13 closed

[2016-01-22 17:21] jonataswalker commented on #13
Good catch! Fixed with #14.

[2016-01-22 18:23] jonataswalker commented on #9
Closing due to inactivity.

[2016-01-22 18:23] #9 closed

[2016-01-23 07:16] ThomasG77 opened #16 "Google Maps Geocoder support allowed?"
It's technically simple to geocode using Google Maps Geocoder.

However, according to Google [terms of use](https://developers.google.com/maps/documentation/geocoding/usage-limits#terms-of-use-restrictions), we are not really allowed to use it outside Google Maps API but your library support it.

You should mention it somewhere so if people use it, it's not your concern.

[2016-01-23 10:50] jonataswalker commented on #16
Yeah, you're right. We are clearly not allowed to use it.

I just saw [others](https://github.com/perliedman/leaflet-control-geocoder) using and implemented it. Well, they're not a real open-source friend, are they? :disappointed:

Thanks for your alert.

[2016-02-03 17:34] #16 closed

[2016-03-04 17:53] hamiltoncj opened #18 "Feature Request: Limit search to a country"
I was wondering if it would be possible to limit the geocoding search results to a particular country or set of countries like the US and Canada? I would probably use 'osm' or possibly 'photon' or any of the services that has a free service.

[2016-03-05 11:28] jonataswalker opened #19 "Create an advanced search"
Photon provider allows [some filters](https://github.com/komoot/photon#features). See https://github.com/komoot/photon/issues/175.

Also see http://wiki.openstreetmap.org/wiki/Nominatim/Special_Phrases

[2016-03-05 11:53] jonataswalker commented on #18
Yes, it is possible, but only (for now) with `osm` or `mapquest`. Photon doesn't provide a country filter see https://github.com/komoot/photon/issues/175.

I'll let you know when I have any progress.

[2016-03-05 11:55] jonataswalker commented on #18
It will be used a [ISO_3166-1 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).

[2016-03-06 04:33] joseahr opened #20 "Allow more projections"
Hi! I had to rewrite your code to use the Geocoder in my map's View projection (EPSG:4258). It would be great that Geocoder takes the projection from the map's View instead of using 'to3857' function.

[2016-03-06 10:24] jonataswalker commented on #20
Absolutely. I'll let you know when I fix this. Thanks @joseahr .

[2016-03-06 13:03] joseahr commented on #20
I'll be waiting for updates =)
Thank you too!

[2016-03-15 11:05] #20 closed

[2016-03-15 11:18] jonataswalker commented on #20
@joseahr v1.5.2 released.

See #22

[2016-03-28 13:02] #18 closed

[2016-03-28 13:02] jonataswalker commented on #18
@hamiltoncj please see #23

[2016-03-28 14:22] jonataswalker opened #24 "Add OpenCage provider"
See https://geocoder.opencagedata.com/api

[2016-04-25 20:15] jan-tosovsky-cz opened #27 "Outdated ol3-geocoder.min.css in CDN"
http://cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.min.css is not minified version of
http://cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.css and classes don't match those generated in HTML.

[2016-04-26 02:24] jonataswalker commented on #27
@jan-tosovsky-cz  Would you mind to capture some screenshots?

For me is everything just fine.

[2016-04-26 18:30] jan-tosovsky-cz commented on #27
It is indeed strange. At work I could see the correct version, but on my home computer there is an obsolete one (in both FF and Chrome), even after deleting browser cache.

![image](https://cloud.githubusercontent.com/assets/3907898/14829400/72edfc82-0beb-11e6-80da-fcb4ccc899ae.png)

Looking at that suspicious CF-Cache-Status: HIT response attribute I think it could be caused by an obsolete cache

[2016-04-27 14:41] jonataswalker commented on #27
Let's consider this a cache/proxy issue, ok? I can be solved on your side.

Feel free to reopen it if you have any further problem related.

[2016-04-27 14:41] #27 closed

[2016-04-27 14:56] NicolasBel opened #28 "Use Other Projection e.g.: EPSG:31370 (other than ESPG: 4326/3857)"
Hi,

I have been able to use the Geocoder with the EPSG:4326 projection (great initiative :-) ).
However, my main OL viewer is using another projection system (for Belgium: e.g. EPSG:31370). Therefore, I’m not able to get the zooming extent and the pin at the right location. Any location I type always gives me the same wrong location at the bottom left of my viewer.

As my projection system has to

[2016-04-27 19:51] jonataswalker commented on #28
Hi @NicolasBel

Actually ol3-geocoder is projection agnostic. It transforms the coordinates from geocoding Provider &mdash; `EPSG:4326` &mdash; to `ol.View` projection.

I've made [this fiddle](http://jsfiddle.net/jonataswalker/qhss2404/) for you, please take a look.

I'm loading `http://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.14/proj4.js` and defining this projection according to [epsg.io](htt

[2016-04-28 08:46] NicolasBel commented on #28
Thank you so much!
Adding the proj4 definition proj4...

`defs("EPSG:31370","+proj=lcc +lat_1=51.16666723333333 +lat_2=49.8333339 +lat_0=90 +lon_0=4.367486666666666 +x_0=150000.013 +y_0=5400088.438 +ellps=intl +towgs84=-106.869,52.2978,-103.724,0.3366,-0.457,1.8422,-1.2747 +units=m +no_defs");`

solved everything :-)

Best regards,

Nicolas

[2016-04-28 08:46] #28 closed

[2016-06-12 21:53] dddesign opened #42 "provider by https"
Because chrome v50+ needs https to show my current location I switched to a secure connection. but now geocoder isn't working any more because all provider are connected by http. can you please change this or make an option to define the connection type?

[2016-06-13 14:02] #42 closed

[2016-06-13 14:08] jonataswalker commented on #42
Hey @dddesign, fixed with #43.

Soon v2.0.2.

[2016-06-15 18:48] gnatih opened #47 "How to build the plugin?"
I need to make a few changes to the plugin, which will require me to rebuild the minified script. Can you add build instructions to the Readme? Specifically I am looking to add the final zoom level (resolution) as an option when initiating the geocoder.

[2016-06-15 19:24] jonataswalker commented on #47
Hey @gnatih, you make changes in `src/js/*` and then `make build`, you can also tell [`Makefile`](https://github.com/jonataswalker/ol3-geocoder/blob/master/Makefile) to watch for changes and build automatically with `make build-watch`.

The most used targets:
[code]

[2016-06-15 19:35] jonataswalker commented on #47
I guess I'll add a new method. Something like `preventDefault()` to be used with:

[code]

What do you think? Does it satisfy your needs?

[2016-06-15 22:37] gnatih commented on #47
Then the geocoder will not zoom, pan or add the location marker, right?

[2016-06-16 10:07] jonataswalker commented on #47
Yes, will do nothing, it will be all up to you.

[2016-06-16 11:35] gnatih commented on #47
Sounds good.  And I should also thank you for the plugin or your quick responses.

[2016-06-16 15:01] jonataswalker commented on #47
So @gnatih I guess this is fixed with #49. Feel free to reopen this ticket if there's anything missing.

[2016-06-16 15:01] #47 closed

[2016-07-25 15:02] Vbahole opened #51 "Add Bing Map support"
Is there a way to geocode using a Bing key?

[2016-07-28 12:11] jonataswalker commented on #51
Hey @Vbahole currently there's no support to Bing API but it can be done. Is this a must for you? Have you seen the other providers?

[2016-07-28 15:02] Vbahole commented on #51
I was able to copy and modify the google provider to work for Bing.  In order to get it to work i cloned and modified your json utils method to use a jQuery ajax call with a jsonp callback. It seems Bing does not support CORS so i was getting a cross domain issue. It is working well now.

[2016-07-29 15:51] #51 closed

[2016-07-29 16:02] jonataswalker commented on #51
Bing provider added - #52.

v2.2.0 released.

[2016-08-01 12:53] lilan123 opened #54 "How to set location adding pointer by passing the coordinate"
Hi,

How to set the location adding pointer by passing the coordinate?

Thanks
Lilan

[2016-08-02 15:20] cann0nball opened #55 "Providers handleResponse missing properties"
Is there a reason why you're omitting some result properties in providers handleResponse function?

For example OSM also has "building" and "house_number" in response, Photon has "street", "housenumber"...

[2016-08-03 21:26] jonataswalker commented on #55
The original provider response is always available with:

[code]

[2016-08-03 21:29] jonataswalker commented on #54
Hey @lilan123, please explain yourself.

What are trying to achieve? Is this somehow related to this plugin?

[2016-08-04 04:32] lilan123 commented on #54
Hi @jonataswalker,  When you search a location it will add a location pointer and we can get latitude and longitude right? Say if we save this latitude and longitude and retrieve, how can i add location pointer just giving latitude and longitude without search it again. it's just retrieving latitude and longitude and add pointer automatically.

Further appreciate your quick response.

Thanks
Lilan

[2016-08-10 09:27] jonataswalker commented on #54
@lilan123 I'm afraid you'll have to help me to help you ;-) - and sorry for this long delay.

Maybe you are better explaining with some code.

[2016-08-14 12:20] jonataswalker commented on #55
@cann0nball Can we close this ticket?

[2016-08-15 08:31] ojsdude opened #56 "Triggering Search"
I have seen that it is possible to listen to the `addresschosen` event for when a user has selected a place, but I wondered how I could replicate the user pressing `Enter` when having typed something. I want to:
1 Update the result as the user types.
2 Replicate a user action for a tutorial feature on the website I am working on.
It would be nice to be able to trigger an event.

[2016-08-15 11:34] cann0nball commented on #55
I think the library should support some way of custom formatting of search results.
For example if I want to display house_number in the search results...

Or at least support all the fields that are used in addressTemplate function for every provider.

[2016-08-15 13:12] ojsdude commented on #54
I think you need to look at [this page](http://openlayers.org/en/latest/apidoc/ol.geom.Point.html)
If you listen to the `addresschosen` event and save the coordinates you could prevent the default if you like, you can then use 'new ol.geom.Point' to create the point and then add it to the map like any other feature.

[2016-08-15 14:17] ojsdude commented on #56
I have had a look at the code and I think I am looking for a way to run the `query` function.

[2016-08-15 14:25] jonataswalker commented on #56
I'm almost there, there'll be a `autocomplete` option (boolean).

Hang tight.

[2016-08-15 14:27] ojsdude commented on #56
Fantastic :smiley:

[2016-08-15 15:04] jonataswalker commented on #56
@ojsdude please take a look at [v2.3.0](https://github.com/jonataswalker/ol3-geocoder/releases/tag/2.3.0) just released.

[code]

[2016-08-16 08:59] ojsdude commented on #56
Will this be on the latest CDN soon?

[2016-08-16 09:11] ojsdude commented on #56
This is a great feature, but I don't believe it adresses my issue. Auto completion works while the user is typing but I want the query to be submitted when jQuery has input a value too. I am trying to create automation of tasks using an API.

[2016-08-16 09:58] jonataswalker commented on #56
So, you have (and trying to use it) `<input>` other than ol3-geocoder created?

[2016-08-16 10:14] ojsdude commented on #56
no, I have tried to trigger a `keydown` event and `input` event on the `input#gcd-input.ol3-geocoder-input-search` but they do not seem to trigger the `query` or `autoComplete` functions at all.

[2016-08-16 10:49] jonataswalker commented on #56
I can trigger query with this:

[code]

[2016-08-16 11:02] ojsdude commented on #56
I thought I had tried that, but it seems to work. That's perfect, thanks a lot.

[2016-08-16 11:30] jonataswalker commented on #56
CDN caching is about 7 days (which is a lot) but you can use a version tag like:

https://cdn.jsdelivr.net/openlayers.geocoder/2.3.0/ol3-geocoder.js

[2016-08-16 12:49] #56 closed

[2016-08-29 16:08] sclose opened #60 "Attach control to existing HTML element / target"
Is there a simple way to attach this control to an existing html element?  When defining stock ol3 controls, for instance, one can[ specify a target ](http://openlayers.org/en/master/apidoc/ol.control.Control.html) to which that control may attach outside of the viewport, and this functionality would be an excellent addition to your already useful ol3 extension.

[2016-09-01 05:52] sclose opened #61 "Remove map layer"
I'd like to remove the map layer (or even the features within the existing map layer) created by this geocoder.  In working through this code, I've extended the prototype to include a removeLayer function, but am having difficulty calling this function from the same button listener that collapses/expands the search.  Thoughts?

[2016-09-01 18:14] jonataswalker commented on #54
Closing due to inactivity.

[2016-09-01 18:14] #54 closed

[2016-09-01 18:16] jonataswalker commented on #55
@cann0nball Would you have some time to help me on this? Maybe a PR?

[2016-09-01 18:18] jonataswalker commented on #60
Yeah @sclose, this is definitely has to be done. I'll come up with something.

[2016-09-01 18:25] jonataswalker commented on #61
@sclose Set the geocoder layer invisible, wouldn't be enough?

[code]

[2016-09-01 18:26] jonataswalker commented on #61
You can also use `preventDefault: false` on constructor. No panning and no feature.

[2016-09-01 18:47] sclose commented on #61
actually,
`geocoder.getLayer().getSource().clear();`
was what I was looking for, and completely overlooked doing this external to the control!  thanks for the insight.

[2016-09-01 18:48] #61 closed

[2016-09-01 20:50] sclose opened #62 "Input field not recognized in search field, when published in cordova/phonegap"
This is a weird one.

The ol3-geocoder plugin works great in all of the browsers that I've tested.  However, when wrapped with cordova, the input field no longer accepts 'go', 'enter', or similar from the digital keypad, on either Android or iOS devices.  I notice the code within the extension captures...
`if (evt.keyCode == 13)`
... which should work.

Possible a Cordova issue (and I'll check), b

[2016-09-01 22:22] sclose commented on #62
argh.  the solution is to turn
`if (evt.keyCode == 13)`
into
`if (evt.which == 13)  //or to be safe  if (evt.keyCode == 13 || evt.which ==13)`,
**or**
`keydown`
into
`keypress`.

... But this just creates another problem, where it triggers the query function, one can even console.log or alert (evt.target.value), but no results show for any query.  Oddly, with the change as mentioned the function c

[2016-09-02 00:38] sclose commented on #62
ok, so debugging I've come to this:
`Cannot XHR {"url":"//search.mapzen.com/v1/search","data":{"text":"Seattle","key":"search-3OEvY0s","size":5}}`  ...the problem being that `https:` or `http:` aren't prepended by default when run in a webview instead of a browser (eg. cordova and phonegap).  Simple quirk- of course- should've caught that at the start.

Conclusion:  I recommend the changes (`evt.w

[2016-09-02 14:57] jonataswalker commented on #62
@sclose Thank you for this debugging. Are you able to test with [this file](http://js.mapeando.net/ol3-geocoder-debug.js) before I released it.

[2016-09-08 16:12] boesiii opened #67 "Add the ability to search a geojson layer?"
Most of my web maps contain vector features and are loaded into the map via geojson.  It would be great if I could search through the features attributes.

[2016-09-08 19:43] jonataswalker commented on #67
Hey @boesiii I'm afraid this plugin has nothing to do about your need.

[2016-09-14 17:06] cassone200 opened #71 "Project-OSRM API 5"
Olá , você iram atualizar o projeto com a novo API 5 ? Pois as requisições não atendem mais .

https://github.com/Project-OSRM/osrm-backend/blob/master/docs/http.md

[2016-09-14 17:34] jonataswalker commented on #71
Olá, acho que não sei do que você está se referindo. Este plugin não utiliza OSRM.

Abraço.

[2016-09-14 22:08] #67 closed

[2016-09-14 22:09] #71 closed

[2016-09-28 14:11] Equalizer7 opened #79 "form-Element for searchbox necessary?"
Hello.

Just wanted to ask if there is any design reason for using a form to surround the searchbox?
If you want to embed a map with your geocoder in an existing form, this will cause problems as nested forms are invalid HTML and jquery.validate floods the console with errors.

I replaced the line **`'<form id="'+ form_id +'" action="javascript:void(0);">',`** with **`'<div id="'+ form_id +'">',`*

[2016-09-28 14:22] jonataswalker commented on #79
Hey @Equalizer7,

Let me think about it, perhaps it's more problematic than useful.

[2016-09-29 16:25] sclose commented on #62
Will do, I'm out from working on this code for another month /so still, apologies for the delay.

[2016-10-27 23:13] bwyss opened #85 "The zoom button focus get left on"
The zoom button focus get left on when you click to zoom

<img width="160" alt="zoom" src="https://cloud.githubusercontent.com/assets/340159/19788897/3cb3e824-9c60-11e6-9fce-c108c8d0402b.png">

[2016-10-28 11:08] jonataswalker commented on #85
I'm afraid you'll have to describe a bit more of what's happening.

[2016-10-28 15:14] bwyss commented on #85
Hi, sorry for that.
Wow, I just realized that this is an openlayers 3 issue and not introduced by the geocoder.

The issue description: when you click to zoom, each click event on the zoom button will make the zoom button show the 'focus' (a blue border around the button). The focus should not persist after the click event IMHO.

This has a bad effect with the geocoder, when you click to open the

[2016-10-28 15:53] jonataswalker commented on #85
Hmm, weird! Maybe a fiddle would help.

Closing for now.

[2016-10-28 15:53] #85 closed

[2016-10-28 17:03] bwyss commented on #85
Just figured it out, just need to add this to your css to make things right:

.ol-control button:focus {
    text-decoration: none;
    background-color: <color of your choice>;
}

[2016-11-14 09:34] ibnubay opened #86 "reverse geocoding"
This plugin support reverse geocoding?
from lat lon, i can get address name...

Thanks

[2016-11-14 10:12] ibnubay opened #87 "search form outside map"
How i can search using existing input text then show result on difference div ?
Note: search form and result place outside map.

[2016-11-14 10:56] jonataswalker commented on #87
I have to re-write the html part and come up with a PR to address this issue and #60.

Hold on.

[2016-11-14 11:00] jonataswalker commented on #86
Not yet, but it is intended to support.

I would have some work to do and perhaps was just waiting someone to ask. Keep an eye on it.

[2016-11-16 17:53] odavidbrito opened #91 "Google request now needs to be https"
Jonatas Walker great work!

Just needed to change the Google provider url to
url:"https://maps.googleapis.com/maps/api/geocode/json"
instead of
url:"//maps.googleapis.com/maps/api/geocode/json"

and worked like a charm.

Thanks a lot!

Ah also added on the event listener 'addresschosen', a function to remove previous markers so they do not pile up.
It can be called from the listener with the curre

[2016-11-18 09:05] odavidbrito commented on #91
Mislooked your methods getLayer and getSource. much simpler!

[2016-11-24 04:15] ibnbay99 opened #94 "Google Search API"
How i can get/access value using Google Search API:
- postal code on address_components?

thanks

[2016-11-24 09:51] jonataswalker commented on #94
You can access the original API response with:
[code]

[2016-11-24 23:04] ibnbay99 commented on #94
How to get value from "types" : [ "postal_code"?:
"address_components" : [
            {
               "long_name" : "94043",
               "short_name" : "94043",
               "types" : [ "postal_code" ]
            }
         ],
I try evt.address.original.postal_code, but undefined

Thanks

[2016-11-24 23:14] ibnbay99 commented on #94
Sorry double Post...
I found evt.address.details.postcode.

[2016-11-25 10:01] jonataswalker commented on #94
@ibnbay99 Can we close this?

[2016-11-26 01:09] ibnbay99 commented on #94
@jonataswalker, sure.
Thank you....

[2016-11-26 10:51] #94 closed

[2016-11-28 17:01] gonself opened #96 "Here Map support"
Is there a way to use "Here api geocoding" with ol3-geocoder? or is in todo list?

i'm modify the ol3-geocoder-debug.js but i think it's no a good idea...

[2016-11-28 18:07] jonataswalker commented on #96
Have you tried Bing API? Is there a real difference?

[2016-11-28 18:20] gonself commented on #96
Yes, i used Bing or Google, but now we have to use Here for licensing issues...

[2016-11-28 18:26] jonataswalker commented on #96
I see. I'll try to implement this new provider as soon as possible. Ok?

[2016-11-28 19:05] gonself commented on #96
Ok. Don't be in a hurry, for the moment im use my own ol3-geocoder-debug.js.

Thanks in advanced, if you need some information you can tell me.

[2016-11-28 19:38] jonataswalker commented on #96
Well, you could come up with a PR for this provider. That'd be great.

[2016-11-29 19:31] gonself commented on #96
hi,
I did the pull request. This is the first time I use github, sorry if there is something wrong...

For implement de Here api we need two "keys", app_id and app_code, i decided to send together joined by # under the 'key' option...

tell me if i need to change something, and one more time sorry if something is wrong

[2016-12-01 21:36] jmgomezpoveda opened #101 "Rendering issue when using a touch screen"
Using Firefox 50 in Linux and Chrome in Windows, the search button is not rendered correctly when using a touch screen.

![firefox rendering issue](https://cloud.githubusercontent.com/assets/3722516/20819425/1c51dfa4-b82c-11e6-9b69-a3a9ab066376.png)

[2016-12-02 22:50] jmgomezpoveda commented on #101
On further research, it looks as though the issue happens with touch screens, when the .ol-touch event is triggered.

[2016-12-02 23:22] jmgomezpoveda commented on #101
So, adding the following styles does fix the size of the component when a touch screen is used and detected:

[code]

Now, there is a separate issue in both Chrome and Firefox with the default value of the "top" property:

`calc(.5em+65px)`

Both Firefox and Chrome say "Invalid property value".

[2016-12-03 08:12] jmgomezpoveda commented on #101
Another style is needed to fix the results popup in touch screens:
[code]

[2016-12-03 08:19] jmgomezpoveda opened #102 "Low-resolution icon appears blurry in HiDPI screens"
The icon provided has a low resolution, and therefore appears blurry when viewed in HiDPI screens. This contrasts with the other, sharper icons.

![no-hidpi](https://cloud.githubusercontent.com/assets/3722516/20857892/e96a4aa8-b930-11e6-836a-f7b8f45daf06.png)

[2016-12-03 08:31] jmgomezpoveda commented on #102
As an alternative to using the icon, one can also use the unicode search character:

[code]

![unicode-search](https://cloud.githubusercontent.com/assets/3722516/20858031/c80f9604-b932-11e6-85f1-0537c9dcaa66.png)

[2016-12-04 11:51] jmgomezpoveda commented on #102
Optionally, in case you prefer the old icon for non-HiDPI devices, this icon could be used only in HiDPI devices using media queries:

[code]

[2016-12-05 12:34] jonataswalker commented on #102
@jmgomezpoveda
Sorry the delay, I'm right now in a hurry and ASAP will give it a closer look.

[2016-12-16 20:27] jonataswalker commented on #101
Hey @jmgomezpoveda sorry this long delay but with #109 things will adjust soon.

[2016-12-16 20:29] jonataswalker commented on #79
`<form>` removed with #109

[2016-12-16 20:29] #79 closed

[2016-12-19 15:27] jonataswalker commented on #55
Closing due to inactivity.

[2016-12-19 15:27] #55 closed

[2016-12-19 15:32] jonataswalker commented on #62
I guess we can close this.

[2016-12-19 15:32] #62 closed

[2016-12-19 16:21] jonataswalker commented on #101
@jmgomezpoveda can you confirm that this is solved with v2.4.0?

[2016-12-19 16:22] jonataswalker commented on #102
@jmgomezpoveda

Are you able to prepare a PR with your suggestions?

[2016-12-19 18:29] jmgomezpoveda commented on #101
All my positioning and styling is broken with 2.4.0. I will need to rework the customisation.
In a quick test, the styles still seem to be broken when using a touch screen (though of course my fix no longer works).

[2016-12-19 18:30] jmgomezpoveda commented on #102
I am afraid this may not work with 2.4.0, due to the styling changes. Will need to analyse the impact to port it to 2.4.0.

[2016-12-19 18:35] jonataswalker commented on #101
Sorry for that. v2.4.0 has a big change in CSS selectors.

[2016-12-22 22:53] jmgomezpoveda commented on #101
Rendering with 2.4.0 with the traditional control has some glitches, which so far I have been unable to fix in my project.

As per the [jsfiddle](http://jsfiddle.net/jonataswalker/c4qv9afb):

![jsfiddle-2 4 0](https://cloud.githubusercontent.com/assets/3722516/21442893/3ed4845c-c8a1-11e6-8496-c59d7da93848.png)

[2016-12-28 13:25] ibnbay99 commented on #86
is This plugin support reverse geocoding already in latest release? v2.4.0

[2016-12-31 16:10] daas-ankur-shukla opened #115 "map.addcontrol(geocoder) giving error"
I am sorry if this is a trivial question. I am facing a problem with adding a geocoder to my open layer 3 map. I am adding it via map.addcontrol(geocoder) command and I am getting the following error

    at t.Ie.setMap (ol.js:83)
    at I.<anonymous> (ol.js:381)
    at qe.b (ol.js:15)
    at qe.Na.b (ol.js:18)
    at qe.k.ke (ol.js:78)
    at qe.k.push (ol.js:79)
    at I.k.Bj (ol.js:382)
    at

[2016-12-31 16:45] jonataswalker commented on #115
Please show you entire code or better &mdash; put it all in a fiddle.

[2016-12-31 17:29] daas-ankur-shukla commented on #115
here is the full code

[code]

[2016-12-31 17:29] daas-ankur-shukla commented on #115
ol3 v3.20.0 here

[2016-12-31 17:31] daas-ankur-shukla commented on #115
closed this by mistake

[2016-12-31 17:43] jonataswalker commented on #115
Change to ol-debug.js to a more verbose message. It seems to me that this is an OL issue.

[2016-12-31 17:48] daas-ankur-shukla commented on #115
at t.ol.control.Control.setMap (ol-debug.js:13106)
    at ol.Map.<anonymous> (ol-debug.js:41234)
    at ol.Collection.boundListener (ol-debug.js:3441)
    at ol.Collection.ol.events.EventTarget.dispatchEvent (ol-debug.js:3859)
    at ol.Collection.insertAt (ol-debug.js:12466)
    at ol.Collection.push (ol-debug.js:12490)
    at ol.Map.addControl (ol-debug.js:41303)
    at loc:182"

with ol-debug.j

[2017-01-03 09:11] daas-ankur-shukla commented on #115
i raised this issue as [openlayer issue 6318](https://github.com/openlayers/openlayers/issues/6318) repository but they asked me to report it here. what can be the possible reason for this problem?
thanks in advance

[2017-01-03 17:24] jonataswalker commented on #115
@daas-ankur-shukla I'm looking for how to fix this issue.

[2017-01-03 17:46] jonataswalker commented on #115
Ahh you have a typo: `new Geocoder('nomatim'` should be `nominatim`.

[2017-01-03 17:46] #115 closed

[2017-01-04 04:52] daas-ankur-shukla commented on #115
oh my god. i am sorry to have wasted your time jonataswalker. thank you for your support and the good work of ol3-geocoder

[2017-02-21 11:28] hunt3ri opened #120 "Compatibility with OL4"
Hi

We're working on a new build of the HOT tasking manager which we've building on OL4.

https://github.com/hotosm/tasking-manager

We've integrated the latest build of the ol3-geocoder, but can see there's one or two compatibility problems, that you appear to have addressed in master but have yet to release.  Any idea on a rough schedule for a new build to npm?

Many thanks
Iain

[2017-02-21 12:12] jonataswalker commented on #120
Hi @hunt3ri, v2.5.0 released and published.

Have a good day.

[2017-02-21 12:12] #120 closed

[2017-02-22 11:16] hunt3ri commented on #120
Awesome, thanks for the super quick turnaround.  Hugely appreciated 💯

[2017-02-27 08:20] moccand opened #123 "Custom options for custom Providers"
I work on a provider based on a wevsercice that can use parameters not listed in existing providers :
Citycode
Lat
Lon

While code goes through nominatim.js following code :

[code]

any custom parameters are ignored so i
 changed it for:

[code]

in order to have users like me (not developer) able to create their own providers without changing core ol-geocoder classes it could be nice to change t

[2017-03-09 17:16] jonataswalker commented on #96
Closing this issue since #98 is closed.

[2017-03-09 17:16] #96 closed

[2017-03-09 17:21] jonataswalker commented on #123
Sorry this long delay @moccand.

Well, I'm not sure about allowing custom providers. It sounds a good idea but it needs some work.

Is there anyone else that would like this feature?

[2017-03-09 17:22] jonataswalker commented on #91
Closing then!

[2017-03-09 17:22] #91 closed

[2017-03-10 20:07] moccand commented on #123
Well I don't know.
I was just wondering if turning your geocoder into something like https://github.com/perliedman/leaflet-control-geocoder was easy or not.

[2017-03-23 18:45] allenhwkim commented on #60
Just to be helpful to others,  I have completed this feature from a separate repository of my own. https://github.com/allenhwkim/geocoder

An example can be found here.
https://rawgit.com/allenhwkim/geocoder/master/app/index.html

The full example with React/OpenLayers Control with this also can be found here.
https://rawgit.com/allenhwkim/react-openlayers/master/app/index.html#/custom/geo-code

[2017-03-23 18:49] allenhwkim commented on #86
FYI, for anyone who is interested in the reverse geocoding, I have some code here, https://github.com/allenhwkim/geocoder/blob/master/src/providers/google.ts#L50. Feel free copy/paste from this repo. https://github.com/allenhwkim/geocoder

[2017-05-18 18:38] saviour123 opened #125 "Zoom in Shaky"
When you search and try zooming in. The zoom shakes before finally add the place marker. It does not zoom in smoothly. The animation on the README.md looks the same.

[2017-06-26 13:44] andy-br opened #126 "Uncaught TypeError using v2.5.0 on Chrome"
When attempting to select a location (after a search), the following error is thrown using Chrome and the latest release:

Uncaught TypeError: r.animate is not a function
    at Object.flyTo (ol3-geocoder.js:7)
    at b.chosen (ol3-geocoder.js:7)
    at HTMLLIElement.<anonymous> (ol3-geocoder.js:7)

[2017-07-07 10:22] jonataswalker opened #127 "Rename project"
I'm going to rename this project to `ol-geocoder` to get rid of the version number.

So in Github it will be a renaming and in NPM it will be a new project: `ol-geocoder`.

Cheers.

[2017-08-29 10:32] blindfish3 opened #128 "Add option for search input pre-processing"
The ability to specify country codes for osm searches is welcome; but I'm working on an app where I need city-specific results.  I'm thinking one way to achieve this would be to intercept the submitted string and append city and country behind the scenes before submitting to the provider.

You could add support for this by adding an option that accepts a function that should return a string. On su

[2017-08-29 10:36] jonataswalker commented on #128
Hi @blindfish3, I'm very busy in the next few days, so I'll take a look after that.

[2017-09-04 09:41] blindfish3 commented on #128
In the end I decided to roll my own address search component.  I'm just using nominatim and also wanted more control over parameters specific to that provider - I'd also recommend more flexibility in this regard ;)

I did at least manage a proof of concept of my above suggestion.  Wasn't able to submit a pull-request but here's the code:

**nominatim.js**
[code]

[2017-09-22 18:07] walkermatt commented on #123
Hi @jonataswalker I've just got something which I think is workable to support custom providers, once I've done a little more testing I'll post a demo/ PR if it's of interest.

[2017-10-09 09:03] walkermatt commented on #123
@moccand have you seen #130 which adds support for custom providers, does this satisfy your requirement? You can see an example defining a custom provider here: https://github.com/jonataswalker/ol-geocoder/pull/130/files#diff-2429a4b9346128ebf1a688c4903097e7

[2017-10-10 19:54] moccand commented on #123
Hi,

i will try to use your code with the provider i used

here is the code i made monthes ago :

        var geocoder = new Geocoder('nominatim', {
            provider: 'frban',
            autoComplete : true,
            key: '__some_key__',
            lang: 'fr-FR',
            placeholder: "Recherche d'adresse ...",
            targetType: 'glass-button',
            keepOpen: true,

[2017-11-07 23:51] Edgrod opened #132 "Does not any search or there is no response???"
Sorry, I try to use your Control but isn't work. I don't know what is issue in my code.

<!DOCTYPE html>
<html>
  <head>
    <title>Full Screen map With Geocode Control</title>

<link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css">

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></scri

[2017-11-08 22:25] ehallein commented on #132
I'm having the same problem with google, works fine with OSM. The search spinner just keeps spinning. no debug error is outputted.

[2017-11-09 07:48] walkermatt commented on #132
Can you provide a link to demonstrate the issue?

[2017-11-10 06:37] ehallein commented on #132
yes here:
http://evev7340.staging-cloud.partnerconsole.net/clients/test/examples/

but I've worked out that it's because changing the google url to https:// appends the URL to calling pages server href. i.e this change broke it:
ar Google = function Google() {

  this.settings = {
    url: '**https**//maps.googleapis.com/maps/api/geocode/json',
    params: {
      address: '',
      key: '',

[2017-11-10 13:39] walkermatt commented on #132
I think we to update the Google provider so that it's `url` specifies `https` as the protocol and a small change to https://github.com/jonataswalker/ol-geocoder/blob/master/src/js/nominatim.js#L115 so that the protocol is only prepended to the provider url if the protocol isn't already defined.

[2017-11-12 11:41] tonybierman opened #133 "Street number in result?"
Is there a way to get the searched upon address' street number in the formatted address output?

[2017-11-14 22:18] jonataswalker commented on #127
NPM `ol3-geocoder` will now throw a deprecated warning.

[`ol-geocoder@3.0.0`](https://www.npmjs.com/package/ol-geocoder) released.

[2017-11-14 22:18] #127 closed

[2017-11-14 22:23] jonataswalker commented on #126
Hey @andy-br, sorry this long delay.

Are you able to test with the new release (`v3.0.0`)?

[2017-11-14 22:24] jonataswalker commented on #125
Hey @saviour123, sorry this long delay.

Are you able to test with the new release (`v3.0.0`)?

[2017-11-14 22:42] saviour123 commented on #125
Not really. I just been lazy. Would test and submit a pull request if there is more issues.

[2017-11-16 11:24] jonataswalker commented on #133
@tonybierman You can always get the original address with:

[code]
I guess I will change the output to show the formatted address of provider itself. Already did with OSM #136.

[2017-11-17 10:09] tonybierman commented on #133
Thanks for your reply, Jonatas.

I would like you to know that I appreciate the effort and time you've put into this project.

Tony

[2017-11-17 14:23] harry-wood commented on #47
On the original question, can you spell this out to me a little more. I'm new to nodejs, but also trying build/rebuild the 'dist' contents. I'm just seeing
[code]
I guess that's trying to invoke GNU Make, which I guess is not the right thing?

[2017-11-17 14:40] walkermatt commented on #47
@harry-wood Hi, I've been doing a bit of work on the the plugin lately and I've been invoking the `npm` scripts directly:

    npm run build

You can see the available script in `package.json` under the `scripts` property.

[2017-11-17 16:44] harry-wood commented on #47
Thanks. Easy when you know how!

[2017-11-17 17:20] #133 closed

[2017-11-17 17:20] tonybierman commented on #133
MapQuest, and thanks again

[2017-11-18 11:05] #24 closed

[2017-11-18 11:10] jonataswalker commented on #132
This is fixed in the new released version.

[2017-11-18 11:10] #132 closed

[2017-11-18 11:12] jonataswalker commented on #123
Can we close this issue?

@moccand @walkermatt

[2017-11-18 13:07] jonataswalker commented on #86
PR welcome!

@allenhwkim would you able to make this happen?

[2017-11-18 13:13] jonataswalker commented on #101
I can't confirm this in my machine, latest version (v3.0.0).

Is this still relevant? @jmgomezpoveda

[2017-11-18 13:16] jonataswalker commented on #125
Right. Closing then. Will reopen if you confirm.

[2017-11-18 13:16] #125 closed

[2017-11-18 13:25] jonataswalker commented on #128
@blindfish3 I guess this feature could be covered by #19 right?

Can we close this issue in favor of it?

[2017-11-18 14:04] walkermatt commented on #123
Yep

[2017-11-18 14:04] #123 closed

[2017-11-18 14:31] jmgomezpoveda commented on #101
Apologies, I am not working on the website these days, so I won't be able to test it anytime soon.

[2017-11-18 15:00] jonataswalker commented on #101
Will reopen if this persist.

[2017-11-20 09:02] hishamkaram opened #140 "map.addControl error"
code:
[code]
error:
[code]
openlayers version: `openlayers@4.2.0`
react version: `react@16.1.1`

[2017-11-20 09:10] hishamkaram commented on #140
fixed with `openlayers@4.4.2` @jonataswalker

[2017-11-20 09:10] #140 closed

[2017-11-20 11:24] jonataswalker commented on #140
Ah, fine.

[2017-11-20 13:27] rbonnefoi opened #141 "Mapzen problem"
Dear Jonatawalker,

Thank you so much for the job done.

It works well for me using Nominatim / OSM service, but when I try to use Mapzen / Pelias, I have a message saying I have no connection.

After a short investigation, the problem comes from the fact the api keyword expected by mapzen is 'api_key', while ol-geocoder only use 'key'.

I modified the local code on my server, but you should updat

[2017-11-22 13:17] #141 closed

[2017-11-22 13:20] jonataswalker commented on #141
Thanks @rbonnefoi for reporting. Fixed with #142.

[2017-11-22 16:14] jonataswalker commented on #94
@ibnbay99 Please see #143

[2017-11-22 16:15] jonataswalker commented on #91
@odavidbrito Please see #143

[2017-11-24 07:43] Edgrod opened #144 "Run the geocode by URL's parameters"
I have my html with the geocode but I need to run the geocode by  URL's parameters, something like:

http://MyMap.html?address=1526 EvansGardens NW ON&ICON=911&label=STRUCTURE IN FIRE

The parameter ICON and Label I will use in featureStyle.

Thanks you for you help.

[2017-11-24 09:18] jonataswalker commented on #144
@Edgrod I have no idea of what your issue is about.

[2017-11-24 15:58] Edgrod commented on #144
@jonataswalker Basically, how I can run the ol.geocode by url's parameter?, is possible or not? I know not if this is a issue or request?

[2017-11-25 09:37] jonataswalker commented on #144
If you are willing to run this geocoder with a custom provider, [take a look at it](https://github.com/jonataswalker/ol-geocoder/blob/master/examples/custom-provider.js).

[2017-11-27 09:31] karakostis opened #145 "Narrow down the results to cities or countries?"
Is it possible to narrow down the results to cities or countries? For example for the OSM geocoder there is a featuretype parameter: https://help.openstreetmap.org/questions/27915/how-to-narrow-the-result-from-nominatim-with-only-cities-and-countries-no-additional-areas

[2017-11-27 10:49] jonataswalker commented on #145
Yes for countries, with OSM and Maquest. See API Docs for `constructor`.

[code]

PR welcome for cities!

[2017-11-27 11:19] karakostis commented on #145
Thanks.
What I meant is to be able to search only for countries or cities. Right now the results go down to the level of streets, airports etc. I read here [https://help.openstreetmap.org/questions/31629/restricting-nominatim-search-results-to-a-certain-adminstrative-level](url)  that its possible to use the featureType parameter but it doesn't seem to respond.

Great work. Really appreciate it.

[2017-11-27 15:15] jettcalleja opened #147 "getting CORS problem"
hi, how can I fix
[code]

[2017-11-27 19:51] jonataswalker commented on #147
Fixed in #146. Thanks @jettcalleja.

[2017-11-27 19:51] #147 closed

[2017-11-28 06:37] jettcalleja opened #151 "Add secure config"
What if we add secure config in instantiation:
[code]

so the developer can have a choice if he/she wants to use http or https. What do you think?

[2017-11-28 09:41] jonataswalker commented on #151
Well, I think it's time to make HTTPS default. Let's see if anyone really need HTTP.

[2017-11-28 12:11] walkermatt commented on #151
I tend to agree that HTTPS should just be the default, if be interested to know if anyone feels they need plain HTTP

[2017-11-30 01:57] niteshgoyal19 opened #152 "not working with ol 4.5 in webpack"
gives an error of append child of undefined while adding Control to openlayer

[2017-11-30 09:34] jonataswalker commented on #152
@niteshgoyal19 Are you able to provide a repro? Like a fiddle.

[2017-11-30 17:09] niteshgoyal19 commented on #152
Not now but u can try if u use angular 5 ol is coming in different module u
have to import those module so in that case geocoder object not added as
control in ol

On 30 Nov 2017 3:04 pm, "Jonatas Walker" <notifications@github.com> wrote:

@niteshgoyal19 <https://github.com/niteshgoyal19> Are you able to provide a
repro? Like a fiddle.

—
You are receiving this because you were mentioned.
Reply to

[2017-11-30 17:47] jonataswalker commented on #152
Sorry, don't have time to build this environment and discover what's happening.

[2017-12-01 21:33] blindfish3 commented on #128
Yep - I guess an advanced search (that allows addition of filters to client submission) would indeed resolve this.

[2017-12-01 21:33] #128 closed

[2018-01-06 00:19] aguynamedben commented on #152
Thanks for the time you spend working on ol-geocoder. Like @jonataswalker and @caseycesari I'm also running into this issue.

![image](https://user-images.githubusercontent.com/107841/34633751-1a2c4704-f233-11e7-86da-c682ecd42192.png)

The stacktrace points to ./node_modules/openlayers/dist/ol.js:142. My project is attempting to use ol 4.6.4 via the modern ES2015+Webpack method linked to in the do

[2018-01-06 00:28] aguynamedben commented on #152
I'm curious if this issue would be fixed by depending on `ol` instead of `openlayers`, then changing the imports to the recommended ES6 way.

I.e. go from this style:
[code]

To this:
[code]

I'm an OpenLayers n00b, but from my read of the docs, that's how OpenLayers should be used in an ES6 environment.

Will reproduce, I'm curious what the maintainers think of that, though!

[2018-01-06 00:56] aguynamedben commented on #152
@jonataswalker I was able to reproduce in this small, simple repo: https://github.com/aguynamedben/ol-geocoder-152 details in the README. I'm curious what you think. Thanks for your time.

[2018-01-06 10:47] walkermatt commented on #152
I've been doing some work moving the ol3-layerswitcher to use `ol` package, see https://github.com/walkermatt/ol3-layerswitcher/issues/69. I think all plugins are going to need to move over to the `ol` package shortly.

For ol-geocoder I think the change should be fairly simple; in the source import the individual classes from `ol` instead of `openlayers` then update rollup build to mark each ol c

[2018-01-06 12:28] jonataswalker commented on #152
Yup, working on it.

[2018-01-07 20:36] aguynamedben commented on #152
🙏 Thank you for looking at it. I'm not well-versed in OpenLayers or ol-geocoder, but I'm happy to help. I think I understand the process of moving to the `ol` package because I had to do it in my project.

[2018-01-08 08:41] jonataswalker commented on #152
I'm stuck and I'll need some help, @walkermatt?

There are three scenarios:

1. `ol` package dependency
   * works on browser
   * works on project that depends on `ol`
   * doesn't work on unit tests (`test:unit`)
      * unit tests are done in a Node environment therefore `SyntaxError: Unexpected token import`
2. no dependencies at all
   * works on browser
   * doesn't work on project that depe

[2018-01-08 16:01] walkermatt commented on #152
I think dropping support for the `openlayers` package in a major version is fine which leaves support for:
1. `ol` package
2. hosted build (`ol.Map` etc.)

In ol3-layerswitcher I'm building a [UMD bundle which supports the `ol` package](https://github.com/walkermatt/ol3-layerswitcher/blob/ol/dist/ol-layerswitcher.js) and [the hosted build](https://github.com/walkermatt/ol3-layerswitcher/blob/ol/sr

[2018-01-18 16:29] Edgrod commented on #144
Well, I don't want to use the custom provider, If possible use the geocoder.on by a **default address**?? when is called for first time?

[2018-02-16 16:48] jlstanus opened #156 "[Question] Get the black and compact icon style"
I would like to have the same style as here https://jsfiddle.net/jonataswalker/c4qv9afb/
where the icone is compact and why not the style is black.
I have liiked in the https://unpkg.com/ol-geocoder@3.0.1/dist/ol-geocoder.min.css but nothing .

Can you help me?

Tks

[2018-02-27 15:36] pitommasi opened #157 "Not working under Edge?"
Hi, wonderful plugin.

I am having troubles with the MS side of the web:

In Edge, after I select an address, a ghost of the dropdown appears on the screen...

The same happens in your [demo page](https://rawgit.com/jonataswalker/ol-geocoder/master/examples/custom-provider.html)

[2018-02-27 16:07] walkermatt commented on #157
@jonataswalker I think I encountered the same and fixed prior to the rewrite in this commit: https://github.com/walkermatt/ol-geocoder/commit/316cc4c7629182f13c38e43e4e6156b4c3ab9622#diff-3c9018f7821de34a861d8bee5bbc48f7R30

[2018-02-28 08:36] pitommasi commented on #157
I forgot to say that I am using the latest version, v3.0.01.

[2018-02-28 16:54] jlstanus opened #158 "Https and Nominatim"
v 3.0.1

#150

I use the repository from

[code]

or
[code]

but in my https website, the seach results has no connection...
in the debug: mixed active contentes --> http in the https nominatim

[2018-03-01 06:37] jlstanus commented on #158
I solved downloading locally the geocoder.js and by replacing
`
http://nominatim.openstreetmap.org/search/`

by

`http**s**://nominatim.openstreetmap.org/search/`

[2018-03-01 06:37] #158 closed

[2018-03-12 18:34] aguynamedben commented on #152
@jonataswalker Any update on migrating to the `ol` package? I noticed some other plugins have done this now (https://github.com/walkermatt/ol-popup/commit/494a42c04d27319ef95e9c5abdd34f1289b43a72).

Is it a matter of simply switching the imports in src/nominatim.js and src/base.js and changing the dependencies? I'm happy to take a stab at it if you think it's pretty straightforward.

[2018-03-28 18:56] cmangen opened #159 "How to use multiple providers at the same time?"
Hello,

first, thank you very much for this excellent extension.

Is it possible to add multiple providers/sources at the same time?

Is it possible to search features in Layers?

Thank you very much.

[2018-04-06 12:07] #152 closed

[2018-04-06 12:09] jonataswalker commented on #152
Fixed in #162. Thanks @aguynamedben @walkermatt

[2018-04-06 12:29] jonataswalker commented on #159
Not for now. PR welcome.

This is an Openlayers question, it's beyond the scope of this extension.

[2018-04-06 12:29] #159 closed

[2018-04-06 12:32] jonataswalker commented on #157
Not sure what is happening here. Do we have a solution already? @walkermatt

[2018-04-06 12:36] jonataswalker commented on #156
Sorry @jlstanus but I don't think I understand what you need. Do you mean this?

[code]

[2018-04-12 11:00] jonataswalker commented on #156
Closing but feel free to ask if you have any further question.

[2018-04-12 11:01] jonataswalker commented on #151
Can we close this ticket? Almost providers are already `https`.

[2018-04-16 11:15] jettcalleja commented on #151
sure

[2018-04-16 11:15] #151 closed

[2018-05-01 20:44] Kardzhilov opened #164 "[Question] Limit to one marker?"
I feel stupid for asking this since it is probably obvious and i am just missing something, but i have been at this for a few days.
If you go to the [demo for example](https://rawgit.com/jonataswalker/ol-geocoder/master/examples/control-nominatim.html)  and look up two different places, then zoom out you will see both of the markers.
Old markers do not get removed no matter how many get made. I am

[2018-05-02 19:57] yorb1990 opened #165 "[Question] question about how to get address"
how do I take the address from coordinates and inverse

[2018-05-23 17:29] jonataswalker commented on #164
@Kardzhilov sorry for this long delay, this can be easily achieved with:

[code]

[2018-05-23 17:29] #164 closed

[2018-05-23 17:30] jonataswalker commented on #165
Not yet implemented. PR welcome!

[2018-05-23 17:30] #165 closed

[2018-05-25 09:20] ozcan-durak opened #166 "Sphinx search engine"
İs it possible to use with sphinx search url ?

[2018-05-25 12:12] ozcan-durak opened #167 "Polygon - LineString Feature"
There could be a feature to and display the whole city instead of point with polygon, or when choosing a road on fulltext search should display the road on map.

Currently only Lat / Lon is allowed.
Can be accept point/linestring/polygon or WKT.

I think WKT would be much better.

[2018-05-25 13:30] jonataswalker commented on #166
Not sure what this is about? Please provide some links or some context.

[2018-05-25 13:32] jonataswalker commented on #167
This extension is just a bridge between provider and OpenLayers. You have the original response from the provider and it's up to you what to do with it.

[2018-06-20 13:51] Adrien98 opened #169 "Question about returned results"
I'm using ol-geocoder with a french custom [API](https://adresse.data.gouv.fr/api) and I want to know if it's possible to retrieve all results and delete those who are not in my region (postalcode is not working in my case, I have to keep `q=<query>`. The layer I'm using is just composed of my region and not of all the France so I want to make not possible to choose a city which is not in my regio

[2018-06-21 15:34] walkermatt commented on #169
Assuming you have defined a custom provider you should be able to filter the results you return in your custom `handleResponse` function.

Looking at the API it looks as though you can also have the API do some filtering / prioritisation of results via query string parameters.

[2018-07-09 07:19] TheGrave commented on #86
I see it has been quite a while. Has this feature fallen out of the roadmap?

[2018-07-25 16:14] walkermatt commented on #157
I've just encountered this issue in Edge 16. I'll take a look in more detail and report back.

[2018-08-04 23:10] spimou opened #173 "How to use it in an Angular 6 project"
I am using OL5 and Angular 6. I am trying to make ol-geocoder work in an Angular 6-based project. So far, angular+ol work fine, but I cannot make the ol-geocoder work.
I have installed ol-geocoder by doing `npm i ol-geocoder --save`

This is my code. In my angular `component.ts` file, I do

[code]

I get no errors in any console, but I cannot see the ol-geocoder in the UI. I even removed the `Zoom

[2018-08-31 15:54] mebels opened #174 "Set marker style and display"
Hi,
nice feature. Thanks for that.

How it is realized to change the marker or remove the marker?

I found this and make a litte core hack:

```/*C.featureStyle=[new a({image:new i({scale:.7,src:g})})]*/C.featureStyle=[new a({zIndex:-100})]```

Can you make the marker style at a option?

[2018-08-31 17:17] jonataswalker commented on #174
See [constructor](https://github.com/jonataswalker/ol-geocoder#constructor) options - `featureStyle`. Isn't it what you're looking for?

[2018-08-31 19:31] mebels opened #175 "ol-geocoder with own view.animate?"
Hi, your write:
[code]
But that's easy to say, but not easy to make. The <li> elements with the click function are creating by writing in the search input box and the <li> elements have no id oder classname. That makes it hard to wirte a "own fly function".
`view.animation` needed some values.
https://openlayers.org/en/latest/examples/animation.html

For what is the `<a href="#">...</a>` in the `<

[2018-08-31 19:35] mebels commented on #174
I have found the `featureStyle` in the code, but without an example don't understand it. It's for `geocoder.on`?

[2018-08-31 20:08] jonataswalker commented on #174
Not mentioning the code. It's on README.

Here's a demo: http://jsfiddle.net/jonataswalker/cs8Lx3zd/

[2018-08-31 20:08] #174 closed

[2018-08-31 20:33] mebels commented on #174
Thanks. Sorry i mean the `var geocoder = new Geocoder('nominatim', {`.
OK, i must put a complete ol.style.Style in it.
I had only put `zIndex: -100` and ```featureStyle: { zIndex: -100 }```

[code]

[2018-09-02 15:17] mebels opened #176 "ol-geocoder don't work with ipad?"
Hi, in a ipad the search-button with the loupe symbol isn't display.

[2018-09-21 03:17] uweDuesing opened #177 "IE11 throws error message 'No internet connection'"
Hi,

When using any browsers but IE11 the geocoder works fine.

But when using it in connection with Angular 6 + IE11 it unfortunately shows and error message underneath the input field 'Error! No internet connection'
![image](https://user-images.githubusercontent.com/100846/45858426-6ec40000-bdb1-11e8-94eb-c38d88e65f6e.png)

[2018-09-28 03:51] Cherviakov opened #178 "Demo not working"
Version 69.0.3497.100 (Official Build) (64-bit) for linux

https://rawgit.com/jonataswalker/ol-geocoder/master/examples/control-nominatim.html
https://rawgit.com/jonataswalker/ol-geocoder/master/examples/custom-provider.html

Refused to execute script from 'https://rawgit.com/jonataswalker/ol-geocoder/master/dist/ol-geocoder.js' because its MIME type ('') is not executable, and strict MIME type ch

[2018-09-28 10:05] JulidaRocks commented on #173
@spimou any success so far? Does not work in my Angular 6 project, too.

[2018-09-28 10:51] jonataswalker commented on #173
Sorry the delay but I'm not finding enough time to work on a solution.

Any help? @walkermatt ?

[2018-09-28 11:01] walkermatt commented on #173
Have you included the ol-geocoder CSS in your project?

[2018-10-05 19:48] jonataswalker commented on #166
Closing due to inactivity.

[2018-10-05 19:48] #166 closed

[2018-10-05 19:48] #126 closed

[2018-10-05 19:49] #167 closed

[2018-10-05 19:50] jonataswalker commented on #169
Closing due to inactivity.

[2018-10-05 19:50] #169 closed

[2018-10-16 09:48] kayaon opened #179 "Getting wrong destination when projection is EPSG:4326"
Hello sir,
This geocoder is great but i have some trouble when i set projection: 'EPSG:4326' as ol.View option.
Here is the code and some image outputs.
If you give me some suggestions, i will be really grateful.

[code]

and here is the result:
![screenshot_2](https://user-images.githubusercontent.com/39480788/47007669-6907d300-d141-11e8-9314-94997cc8c539.png)

At HTML part i just used div map an

[2018-10-16 11:01] jonataswalker commented on #178
Thanks for reporting @Cherviakov but this [fiddle](http://jsfiddle.net/jonataswalker/c4qv9afb/) is still working!

I'll change the links.

[2018-11-19 10:00] walkermatt commented on #175
There is an example of defining a custom `addresschosen` event handler in the [custom-provider.js example](https://github.com/jonataswalker/ol-geocoder/blob/master/examples/custom-provider.js#L40-L46).

[2018-11-25 23:52] spimou commented on #173
Hi there again. Sorry for super late answer. I could not find a solution and left my issue frozen But I just found a solution, out of luck, by doing something else. In my ol map's view I had

[code]
So now geocoder kind of works. It shows on the map, but the CSS is messed up. And I can see none of my layers or any of my points in my vector layer. I tried to set the geocoder CSS file in the `angula

[2019-01-04 15:02] umbe1987 commented on #179
@jonataswalker could it be related to not transforming the coordinates in [flyTo()](https://github.com/jonataswalker/ol-geocoder/blob/a2b43ea105a120a1ef47c487917c8a7b50c011e5/src/helpers/mix.js#L49) function of helpers/mix.js?
Just an idea...
Maybe doing something like this might work:

[code]

[2019-01-24 12:40] pedrofwanderley opened #180 "Geocoder not working"
Hi, i'm trying to use geocoding service on my project with openlayers 3, i've tried everything but i keep getting the same error on console "Uncaught ReferenceError: Geocoder is not defined", i'm leaving the source code snippet below:

 function search() {
	var geocoder = new Geocoder('nominatim', {
  provider: 'osm',
  lang: 'en',
  placeholder: Digite o endereço',
  // targetType: 'text-input'

[2019-01-24 14:38] pedrofwanderley commented on #180
obs: i've downloaded your project, and tried to run it(the examples) - just to be sure that the problem wasn't on my code- and the same error occurred!

[2019-01-24 15:18] wintermoor commented on #177
Same here, but with FIrefox 61 having this error, too.

[2019-01-24 19:57] walkermatt commented on #177
I've successfully used ol-geocoder on IE11 by including polyfills for features missing in IE11. This is the polyfills.io script I'm using (covers OpenLayers, ol-geocoder and JSTS so you might not need everything):

[code]

[2019-01-25 21:15] gabriel9130 commented on #178
The demo was still npt working, I discovered thats because the dist folder was deleted in a commit and it is essential for the demo. Maybe you should put back this folder for the persons who want to use your project? Thanks!

[2019-01-29 19:34] gabriel9130 opened #181 "Adding geocoder option: initial search"
Hey :) ,
I would like to be able to add the option InitialSearch in the object Geocoder, so that the first view source is the one searched by geocoder. So like this:

var geocoder = new Geocoder('nominatim', {
    provider: 'photon',
    targetType: 'glass-button',
    lang: 'en',
    placeholder: 'Search for ...',
    limit: 1,
    keepOpen: false,
    initSearch: 'Sherbrooke'
  });

So the first

[2019-01-30 18:06] gabriel9130 commented on #180
You need the dist folder to make it works, but it was deleted in the recent commits, I don't know why. When I come back to the last version, it works well! Geocoder is not defined because it is a file (as well as the .css) hat were in the dist folder.

[2019-01-30 18:07] gabriel9130 commented on #181
I made it work.  The code is not the cleanest one, but if some one needs that you can ask me and I will send you my modificiations.

[2019-01-31 12:40] pedrofwanderley commented on #180
That was the problem, thanks a lot!

[2019-01-31 12:40] #180 closed

[2019-03-05 13:04] joto opened #182 "How to remove pin"
Is there a way to remove the pin from the map, for instance by clicking on it?

See joto/osmoscope#13.

[2019-03-16 00:52] Jens-dojo opened #183 "customised addressTemplate function ?"
Hello,

I would like to have a customised addressTemplate() function.
How can I patch it?
As far as I see there is no possibility to patch it from the outside ?!
Thank you
J

[2019-03-24 07:14] pathmapper opened #184 "rawgit shutdown"
https://rawgit.com/

It is currently used here:

https://github.com/jonataswalker/ol-geocoder/blob/76877d508575ba7d229a8f16d4300da9165109de/konstants/index.js#L21

https://github.com/jonataswalker/ol-geocoder/blob/76877d508575ba7d229a8f16d4300da9165109de/README.md#L28

[2019-04-02 19:13] papermachine commented on #178
I noticed that the .gitignore of this repo is masking the `dist` directory. Is there a good reason for this? My pull request #185 has the `dist` directory added again so the examples will work.

[2019-04-02 21:52] papermachine opened #186 "The OpenCage provider is no longer working"
I tested the OpenCage provider via Travis CI and then again manually. This provider does not appear to be working anymore.

[2019-06-09 18:59] shastaxc commented on #173
If you do `import` * as geocoder from 'ol-geocoder';` it should work. Personally, I imported as Geocoder (capital G) to better match the docs.

[2019-07-04 01:52] daksamedia opened #191 "Implement on my own input element"
Hi @jonataswalker ,

Thank you for this API.

On your readme.md there are good explanation of this API.
But how could I implement it on my single input element?

Thanks in advance.

[2019-09-11 13:09] ignis2019 opened #192 "Type Error with Openlayers 5.3.0"
When I use this Extension with Openlayers 5.3 I get a TypeError t.ol is undefined. Is there a solution?

[2019-10-03 14:30] Autre31415 opened #193 "Search button broken in openlayers 6"
The input popout works fine in openlayers 5:

![Openlayers 5 3](https://user-images.githubusercontent.com/8182831/66136009-c736fb80-e5c8-11e9-8151-9ce5b6210f2c.png)

In openlayers 6 however the styling is broken:

![Openlayers 6 0 1](https://user-images.githubusercontent.com/8182831/66136046-d1f19080-e5c8-11e9-9cec-bb3c024f70e0.png)

[2019-10-09 13:46] #193 closed

[2019-10-20 15:45] xitox97 commented on #179
Anyone know how to fix this? I also have this problem. need to change to projection: 'EPSG:4326'

[2019-10-28 10:33] hstandaert opened #198 "Add option for HTML label"
Analogous to the way you can add a placeholder text, it would be nice if one could add a label:

[code]

This is an accessibility improvement, since placeholder browser support isn’t complete and placeholders often lack sufficient color contrast by default. ([More info](https://a11yproject.com/posts/placeholder-input-elements/))

The label can be visually hidden in CSS, so it can still be picked u

[2019-10-31 02:26] mstenta opened #199 "Geocoder control broken with OL v6+"
When I update the `ol` package in `package.json` from `^5.3.0` to `6.0.1`, it causes the `ol-geocoder` plugin to break slightly. Clicking on the geocoder control button (magnifying glass) causes the button to disappear and the search box is cut off. See attached screenshot:

![Screenshot from 2019-10-30 22-25-11](https://user-images.githubusercontent.com/95381/67913686-353cf700-fb64-11e9-9fcc-49d2

[2019-10-31 02:40] mstenta commented on #199
Nevermind! I updated to `"ol-geocoder": "^4.0.0",` and it's fixed! Thanks @walkermatt ! :-D

[2019-10-31 02:40] #199 closed

[2019-10-31 02:42] mstenta commented on #199
Duplicate of https://github.com/jonataswalker/ol-geocoder/issues/193

Thanks @Autre31415 for fixing that!

[2019-11-13 09:20] TobiCook opened #200 "Clearing marker from search result when entering a new search"
Hello @jonataswalker, thank you for providing the ol-geocoder.

We used the code to get an address search function for our map in our project.

Now we want to add the function, that if there is a new search entered, the old markers should automatically be cleared from the OSM map and the new search result should show up. At the moment, all the markers are staying on the map.

Is there a solution t

[2019-11-13 14:13] jonataswalker commented on #200
Hi @TobiCook

Something like this?

[code]

http://jsfiddle.net/jonataswalker/bq30mnwt/

[2019-11-21 14:13] #200 closed

[2019-11-21 14:14] jonataswalker commented on #198
Hey @hstandaert

Would you be willing to provide a PR for this feature?

[2019-11-21 14:16] jonataswalker commented on #192
Please, provide a repro, a fiddle or something like it.

[2019-11-21 14:20] jonataswalker commented on #182
Yup, see #200

[2019-11-21 14:20] #182 closed

[2019-11-21 14:25] jonataswalker commented on #181
I pretty sure this can be done in userland.

[2019-11-21 14:25] #181 closed

[2019-12-02 14:40] smillerk2 opened #201 "Geocoder map marker loses precision when zooming out"
Great library. However, there is a bug when zooming out. Using your [Fiddle ](http://jsfiddle.net/jonataswalker/c4qv9afb/)"as is", when you enter a location (e.g. Toronto) click the zoom out button a few times. You will see the marker re position itself with every zoom change until eventually it becomes inaccurate.

How can the Geocoder marker position be retained so that it's accurate when the us

[2019-12-11 09:43] walkermatt opened #202 ""Click" event propogating to map when choosing a result"
I've just been updating an application to OpenLayers v6.1.1 and I experienced an issue with events propagating to the map when I click to choose a result. I noticed the issue as I have a handler listening to the map's `singleclick` event which centres the map.

I think it's related to [OpenLayers #6948](https://github.com/openlayers/openlayers/issues/6948#issuecomment-389236565).

I've worked arou

[2019-12-12 16:16] walkermatt commented on #202
I've looked into this a little more and I think the issue is due to the result list being removed from the DOM in the event handler resulting in [`PluggableMap` not being able to determine if the event originated from a child of `overlayContainerStopEvent_` as `target.parentElement` is `null`](https://github.com/openlayers/openlayers/blob/master/src/ol/PluggableMap.js#L938)

[2019-12-12 17:45] jonataswalker commented on #202
@walkermatt I'm not able right now to take a look into this. Counting on you to handle it.

[2019-12-13 10:28] walkermatt commented on #202
I've updated [openlayers/openlayers #6948](https://github.com/openlayers/openlayers/issues/6948#issuecomment-565375694) with my current thoughts; I'm hoping we might be able to fix in OpenLayers itself.

[2020-01-16 13:22] rapto opened #203 "Is there a way to make two ajax calls in each search?"
In our application, we have to perform two queries against two different services to obtain the results. Is there a way to achieve that with a custom provider? Thank you.

[2020-01-16 20:30] walkermatt commented on #203
Currently the http requests are made internally, a custom provider specifies the URL and query string parameters via `getParameters` which ol-geocoder then fetches.

I don't think there is an easy way to call more than one source via a custom provider. I think that leaves you with:

* Roll your own search control using a generic auto complete component
* Implement a single end-point server-side th

[2020-01-17 09:43] rapto commented on #203
I think I will implement a server side proxy to make both calls. I still don't have enough expertise in JS to expose the request in order to override it. I made a NominatimLike class, derive the current Nominatim class, create my two-call-query method on the new class and expose the class in the factory. But I fail in the bureaucracy of the packaging.

[2020-01-17 19:02] #203 closed

[2020-01-23 08:42] Bali05 opened #204 "Custom provider (url string)"
I'm trying to use a custom provider, but the url string has to contain "?query=" instead of "?q=".
How can I change this?

[2020-01-23 09:28] walkermatt commented on #204
That should be fine. In `getParameters` you return an object with a `params` property which is itself an object with the query string parameter name: value pairs that need to be sent in the request.

This example would result in two query string parameters: `&query={search string}&key=my-api-key`

[code]

[2020-01-27 01:03] gusarg81 opened #205 "Setting address, city, etc by code"
Hi,

I was using before API from google maps, using gmaps.js to get map position by settings address, city, postal code, etc to its geocoder, all by code (not using a search input). It is possible to do it like this with ol-geocoder? I don't find it in the docs.

Thanks.

[2020-02-02 18:15] Bali05 commented on #204
Thank you.

Gesendet von Yahoo Mail auf Android

  Am Do., Jan. 23, 2020 at 10:28 schrieb Matt Walker<notifications@github.com>:
That should be fine. In getParameters you return an object with a params property which is itself an object with the query string parameter name: value pairs that need to be sent in the request.

This example would result in two query string parameters: &query={search st

[2020-02-02 19:27] #204 closed

[2020-02-03 11:06] jonataswalker commented on #202
@walkermatt will this issue be solved by https://github.com/openlayers/openlayers/pull/10502?

[2020-02-03 12:03] walkermatt commented on #202
Yes it should be 👍

[2020-02-21 19:28] bwhitney opened #206 "Is there a way to get keyboard return event to pick top choice in dropdown?"
Like your geo-coder, but it would be nice for a user to just type in a name (including in auto-complete mode) and hit keyboard return/enter in the input box and have the address default to the top one in the dropdown list rather than having to click.

Is there currently a way to do this using options?  Have played around w/out success so thinking not.  If not, any chance this could be an enhanceme

[2020-03-06 16:20] nobohan commented on #205
+1 I have the same requirement, actually.

[2020-04-20 09:14] lewinmadrid opened #208 ""Error! No Internet Connection?" message."
This error message appears when using Nominatim. Occurs in the example in  jsFiddle
To fix, remove the slash at the end of the url.

Before;
    https://nominatim.openstreetmap.org/search/
After:
    https://nominatim.openstreetmap.org/search

[2020-04-28 22:11] abydahana commented on #87
Hello, have add this feature now? Where i can get example?

[2020-05-14 14:07] gHupf commented on #101
This still persists. You can open the fiddle on a touch device to replicate it.

[2020-05-14 14:24] gHupf commented on #201
This should be a problem of how the marker is made. If you look at the [marker.png](https://raw.githubusercontent.com/jonataswalker/map-utils/master/images/marker.png) the middle of the picture is not the tip of the marker. So if you are zoomed in really far, it seems like the marker is in correct position (even though it isn't). If you zoom out the middle of the picture stays at the correct posit

[2020-05-20 11:34] jonataswalker commented on #101
Is there anyone willing to provide a fix?

[2020-05-20 11:39] jonataswalker commented on #201
@gHupf would you provide a PR to fix this behavior?

[2020-05-26 17:54] dan-an opened #209 "On address search get "layer.getType is not a function" in console"
Hello!

Great library, really usefull.

Using it with vue and ol@6.3.1. When I try to search for address, I get "layer.getType is not a function" in console.

Are there any hints for such issue?

[2020-05-27 00:45] sylvain258 opened #210 "Geocoder without arrow ?"
Hi,

It's possible to drop the arrow on each view ? (arrow yellow and grey)
![Capture](https://user-images.githubusercontent.com/33748168/82963834-21efee00-9fc4-11ea-99f4-fa0c01d73544.PNG)

Thanks

[2020-06-19 11:15] MGotink commented on #210
You could pass an empty style during instantiation:
[code]

[2020-06-19 16:22] ravindragullapalli opened #212 "Map Marker with a initial location?"
Is it possible to show map marker initially by providing longitude and latitude soon after loading the map?

[2020-07-08 15:12] adrianratajczak commented on #87
Hi, what about this feature? I can see that there is a targetType option but it looks like it doesn't work

[2020-07-25 12:40] #19 closed

[2020-09-11 12:49] carlocarlini commented on #209
with ol.js 6.4.3 i had the same problem with
Uncaught TypeError: ol.Overlay.Popup.enableTouchScroll_
or with popup = new ol.Overlay.Popup(); not a constructor
I had to use ol.js version 4.5,6

[2020-09-17 13:00] VandanaAwasthi opened #217 "can we have a configurable setting for debounce timeout when searching 200ms seems to be almost instantly firing the search"
in the handler for input listener the debounce is hardcoded to 200, can we add a configurable parameter for it. so users can set their desired debounce time.

[2020-09-23 07:44] nulu137 commented on #209
Hey,
i recieve the same error with ol@6.4.3 and ol-geocoder@4 inside vue.
I tested some lower versions of ol, this didnt help.
Anyone got a solution?

[2020-09-26 16:30] #217 closed

[2020-09-28 12:15] jonataswalker commented on #212
How it this related to this plugin? Isn't it possible on userland?

[2020-09-28 12:17] #210 closed

[2020-09-28 12:36] jonataswalker commented on #208
Cannot reproduce! Are you able to provide a demo?

[2020-09-28 12:38] jonataswalker commented on #209
Hey! Could anyone provide a repro? A fiddle, codesandbox ...

[2020-09-28 12:46] jonataswalker commented on #206
For sure, this a great feature to be done. Just can't tell about a schedule ok?

[2020-09-28 12:48] jonataswalker commented on #205
Are you able to investigate if the desired provider have this feature?

[2020-09-28 12:51] #192 closed

[2020-09-28 12:51] #177 closed

[2020-09-28 13:50] #178 closed

[2020-09-28 13:53] jonataswalker commented on #191
I will consider this as a duplicate of #87 okay?

[2020-09-28 13:53] #191 closed

[2020-09-28 13:58] jonataswalker commented on #183
You're right, there's no way actually. Would you like to provide a PR?

[2020-09-28 13:59] jonataswalker commented on #184
I guess this is fixed by #220

[2020-09-28 13:59] #184 closed

[2020-09-28 14:03] jonataswalker commented on #202
Closing as the PR mentioned is merged. Okay?

[2020-09-28 14:03] #202 closed

[2020-09-28 14:07] jonataswalker commented on #173
Closing as I don't think this is still relevant.

[2020-09-28 14:07] #173 closed

[2020-09-28 14:08] #175 closed

[2020-09-28 14:09] #60 closed

[2020-09-28 14:15] jonataswalker commented on #179
Sorry but is this still relevant?

[2020-09-28 14:16] jonataswalker commented on #176
Closing as this is too old and I'm not sure if this is still relevant.

[2020-09-28 14:19] jonataswalker commented on #144
Closing as this is too old and I'm not sure if this is still relevant.

[2020-09-28 14:19] #144 closed

[2020-09-28 14:21] gusarg81 commented on #205
Hi,

I replaced with python geocoder lib (since I've develop with Django) and works perfect.

[2020-09-28 15:07] ravindragullapalli commented on #212
I could not understand what userland is.

However, I could manage to handle it with this code snippet.

[code]

May be someone will be benefitted.

Closing this issue.

[2020-09-28 15:07] #212 closed

[2020-09-28 15:07] jonataswalker commented on #101
Thanks @Nadeflore

[2020-09-28 15:07] #101 closed

[2020-09-28 15:08] #205 closed

[2020-09-28 15:56] jonataswalker commented on #186
Please reopen if it's still relevant.

[2020-09-28 15:56] #186 closed

[2020-09-28 16:33] ahlem17 opened #222 "input search bar"
Hi, there is a simple way to create two input text for searching (one to search depart point address other for arrived point address) or a way to create 2 externals element input text and related them with the plugin?

[2020-09-28 17:24] jonataswalker commented on #222
Related #87

I think this specific request goes beyond the scope of this plugin but you could create a static demo so we can understand it better.

[2020-09-28 17:52] ahlem17 commented on #222
I'm looking to create model like this search bar of OSRM http://map.project-osrm.org/?z=7&center=50.004209%2C11.997070&hl=fr&alt=0&srv=1

[2020-09-30 18:28] joe3950 opened #223 "Add Geocoder control to custom DIV"
It's not an issue but question...Sorry because of that...

Geocoder is located in the MAP div. I would like to add this control into a custom div (with id "prostor") outside the MAP div. How can I achieve that...

var geocoder = new Geocoder('nominatim', {
  provider: 'osm',
  lang: 'en',
  placeholder: 'Search for ...',
  limit: 5,
  debug: false,
  autoComplete: true,
  keepOpen: true,
});

Than

[2020-10-01 11:05] jonataswalker commented on #223
Not possible yet.

Duplicate of #87

[2020-10-01 11:05] #223 closed

[2020-10-16 18:54] nrotstan opened #224 "Nominatim bbox is always undefined"
In the addresschosen event, the bbox from Nominatim results appears to always be undefined. It looks like perhaps it should be referencing the `boundingbox` field instead of `bbox` from the Nominatim response?

[2020-10-17 16:22] #224 closed

[2020-10-23 03:19] #179 closed

[2020-10-23 03:23] jonataswalker commented on #201
Not sure if this is still relevant, it looks like a solution can be provided on userland.

[2020-10-23 03:23] #201 closed

[2020-10-23 03:24] jonataswalker commented on #208
Closing but feel free to reopen with some reproduction.

[2020-10-23 03:24] #208 closed

[2020-11-11 17:47] senturank opened #228 "Geocoder does not zoom to the location correctly"
Everything was working fine until about 2 weeks back when, after selecting an address the map zooms to some irrelevant location. We have been trying to fix without any luck. I noticed that the same issue occurs in the jsfiddle link as well. Did something change recently?

[2020-11-11 18:17] jonataswalker commented on #228
Do you mean this fiddle?

http://jsfiddle.net/jonataswalker/c4qv9afb/

[2020-11-11 18:21] senturank commented on #228
Yes. Thats the one

[2020-11-12 10:47] jonataswalker commented on #228
Well, it looks okay for me, would you mind to create a step by step to reproduce?

[2020-11-12 11:04] senturank commented on #228
I have recorded my screen while trying to use the jsfiddle.

https://drive.google.com/file/d/1QoEGVwUQboLwXb2jD0eE762A0oG2XoKf/view?usp=sharing

We have been using this api for the last 4 months on OSM (**_Thanks !!!_**), but it suddenly started misbehaving about 3 weeks back and it zooms to irrelevant locations (Though on zooming out, you see that the marker is placed correctly) . I checked the j

[2020-11-23 10:51] jonataswalker commented on #228
Are you able to investigate if this commit (https://github.com/jonataswalker/ol-geocoder/commit/0f940fa6417b1de1387502e14dc689f02a7fa7d3) is the reason?

[2021-01-14 10:13] tikeshisverma opened #231 "Mixed content CORS error over HTTPS"
I am working on https://github.com/blueskyanalytics/raster-playground/issues/16 adding search functionality to [raster-playground](https://github.com/blueskyanalytics/raster-playground).my changes workedseemly over local environment, However after deployment on netlify which serve pages over https I am getting Mixed content CORS error. Sharing screenshot for the same:

![Screenshot 2021-01-14 at 3

[2021-01-20 12:21] #231 closed

[2021-02-25 12:32] MShrivastava-RMS opened #235 "ol-geocoder results are too much zoomed -in"
I am using  ol-geocoder 4.1.2. The results are too much zoomed in .
I have followed https://jsfiddle.net/jonataswalker/c4qv9afb/
In the fiddle above, the results are at a suitable zoom level.
I have used "view.setZoom(12)" , the results are unaffected.

[2021-03-07 17:51] thomasdowding opened #236 "Some 404 errors, unable to access content"
Sorry if this is a beginner question!

Created basic page with standard OpenLayers setup. Added this plugin, tested using both CDN links. Plugin is somewhat functional (no markers or popups, but still zooms to correct location). Following errors in console:

DevTools failed to load SourceMap: Could not load content for https://unpkg.com/ol-geocoder.js.map: HTTP error: status code 404, net::ERR_HTT

[2021-04-11 14:27] Dominique92 commented on #228
YES ! when I remove this line, I have no more problems
bbox: result.boundingbox,

Note : my problem was that it zoom to level 1 when integrated with a phpBB forum.
When operated without phpBB context, it works well
I did not success to identify what part of phpBB interfer with Geocoder

[2021-04-26 10:51] pavel-muset opened #237 "Add IE support"
Please add IE support.

[2021-04-30 12:37] jonataswalker commented on #237
Would you please provide a PR?

[2021-06-03 07:51] catsarebetter98 opened #239 "Toggle Marker in Options"
Here is a sample geocoder init:

[code]

Would be awesome if there was an option to toggle the panning and marker seperately, currently they are grouped into a single option: `preventDefault: true/false`

Something like this:

[code]

[2021-06-09 03:12] alexthefifth opened #240 "Is the timeout necessary?"
In many of the examples there is a timeout of 3000ms used. Is this a necessary/functional delay (maybe waiting for API response from the geocoder?) or is this a cosmetic/aesthetic thing?

[2021-07-29 12:49] rasa2k commented on #206
You could consider making the ul result list a datalist instead and get the keyboard support out-of-box. Biggest downside is the styling of it.

[2021-08-25 21:08] AllroadsNL opened #241 "Firefox console issue TypeError"
In firefox i get this message:  Uncaught TypeError: t.ol is undefined
ol-geocoder:11:485
[file](https://cdn.jsdelivr.net/npm/ol-geocoder)

"ol/Feature","ol/proj"],e):(t="undefined"!=**typeof globalThis?globalThis:t||self)**.Geocoder=e(t.ol.control.Control,

and with
[link](https://unpkg.com/ol-geocoder) directed to
[file](https://unpkg.com/ol-geocoder@4.1.2/dist/ol-geocoder.js)
Uncaught TypeError:

[2021-12-17 00:32] TheGrave commented on #86
@jonataswalker Another 3 years have passed, gotta ask again :) I see there is maybe some sort of an enhancement cause when I put GPS coordinates as an input now I get the closest town which is not that bad but still far away from what is desired.

[2022-04-07 15:30] louischamaillard opened #244 "JS issue in Angular8 Project"
Hi ! I dont really know if I can ask for this here but here's the problem, I got this error in my console :

![image](https://user-images.githubusercontent.com/52458580/162235869-d4fb7f28-ea5b-4a05-b31c-50129d45db86.png)

I've tried with both js scripts you gave in the README file, and got the same error each time.

For the css, I think there is no problem but as long as I can't load the JS, I jus

[2022-04-08 14:29] #244 closed

[2022-04-08 14:30] louischamaillard commented on #244
got the solution, no problem

[2022-04-10 22:42] ghost opened #247 "Using Search Function Outside Div"
Hi, is there a way to put the search function outside the Openlayers function?
Picture 1: Outside the function
![1](https://user-images.githubusercontent.com/91780776/162642956-16a9518d-f742-44b5-985b-d7644723b06a.JPG)
Picture 2: Inside the function
![2](https://user-images.githubusercontent.com/91780776/162642972-bad161b4-4138-44d3-9398-f09455e1d472.JPG)

      const mapTemp = new OlMap({

[2022-05-06 13:16] mysterybear opened #248 "TypeScript Typings, Exports"
Hi

Would be really nice if there were TypeScript Typings

Would also be good to see how to import this when in Node.js environment (whether Geocoder is default or named export)

[2022-06-21 15:00] kirtan-desai opened #250 "Warning when using ol-geocoder from the CDN"
DevTools failed to load source map: Could not load content for https://cdn.jsdelivr.net/npm/ol-geocoder.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

[2022-06-21 15:43] kirtan-desai commented on #235
put preventDefault option to true.

and then

[code]

[2022-07-28 07:29] andreaordonselli opened #255 "Search Button - search does not work from smartphone if there is another text field"
The search works fine on a pc.
But in the smartphone when I type a text and press enter the search is not performed because in my map I have another visible text field, so the enter key moves the cursor to this next text field and the search is not performed.
A solution could be the introduction of an "arrow" type "send button" in the geocoder, perhaps to be positioned after the "x" of the gcd-inp

[2022-07-30 13:19] andreaordonselli commented on #255
I solved it by myself by activating the option

`autoComplete: true;`

In doing so there is no need to press enter after typing some text but a drop-down menu of results exits as you type.
Thanks for the plugin.
Greetings.

[2022-07-30 15:02] mtmail commented on #255
Using auto-complete for the default provider (osm) is against the provider’s terms https://operations.osmfoundation.org/policies/nominatim/ Searching for “Washington, DC” would lead to 12 API requests.

[2022-08-25 12:09] andreaordonselli opened #256 "Remove search layer from legend"
I use the ol-ext layerswitcher and this geocoder.
However following the search with geocoder in the legend the visible layer appears at the top.
![image](https://user-images.githubusercontent.com/89784373/186660288-50232d04-9a92-4627-8be3-493fbc6074d3.png)

The layerswitcher has a setting `displayInLayerSwitcher : false,` to be written in `ol.layer.Vector ({`
I don't understand how to edit ol-geoc

[2022-09-02 08:43] immanuel-h opened #257 ""countrycodes" option broken with array"
Config: `countrycodes: ["at", "de"]` (as per doc, array of iso country codes)

Expected: URL generated as `countrycodes=at,de`

Actual: Url generated as `0=at&1=de`

Source of the problem: [toQueryString method](https://github.com/jonataswalker/ol-geocoder/blob/e5ae7721255c75b644103746a2dc812b33255850/src/helpers/ajax.js#L21)

Minimal test case
[code]

Workaround: using a comma-separated string in

[2022-09-03 14:54] AdityaaBangari commented on #250
did you find a solution for this

[2022-09-03 15:05] AdityaaBangari commented on #244
Hi, can you please tell me what was the solution.

I'm facing the same issue, it would be of great help if you can provide the solution for this

[2022-09-04 10:51] louischamaillard commented on #244
I think (not sure, been a long time), that I was loading JS directly into my base.html. I actually created the 2 js scripts into my assets folder, then copy past the code you gave.

Hope it'll help, have a great day !

[2022-09-05 12:09] andreaordonselli commented on #256
I found a solution by myself.
You need to enter `displayInLayerSwitcher: false` at this point:

`this.layer = new n ({name: this.layerName, source: new s, displayInLayerSwitcher: false,})`

[2022-09-09 09:24] geraldo opened #258 "Broken on Openlayers 7.1.0"
Since updating to latest OL 7.1.0 i get the following error in the console:

`Uncaught TypeError: class constructors must be invoked with 'new'`

[2022-09-09 17:44] fogracvxy commented on #258
Yea getting the same error

[2022-09-10 14:05] kirtan-desai commented on #258
Same thing happened with [ol-layerswitcher](https://github.com/walkermatt/ol-layerswitcher/issues/487). The solution seems to be removing the webpack transpiling ES6 classes to ES5. Would be great if anyone can make a PR. Can take a look at [this commit](https://github.com/walkermatt/ol-layerswitcher/commit/85f7957abb5e353a27674d65361f4b399c7ab7dd) for reference.

[2022-09-17 15:42] Dominique92 commented on #258
Workaround:
Use ol-geocoder-debug.js and replace line 1134 by:
      return new Control({ element: this.container });

[2022-09-17 16:03] kirtan-desai commented on #258
I am working on the issue. The Base class in base.js calls super after accessing "this" which throws an error in ES6. Trying to refactor that.

[2022-09-17 16:05] kirtan-desai commented on #258
Any suggestions how to refactor it?

[2022-09-17 18:44] Dominique92 commented on #258
Something in there ? https://stackoverflow.com/questions/51860043/javascript-es6-typeerror-class-constructor-client-cannot-be-invoked-without-ne

[2022-09-17 20:24] walkermatt commented on #258
@Dominique92 perhaps try disabling transpiling by commenting out the buble plugin in https://github.com/jonataswalker/ol-geocoder/blob/master/build/config.js#L54

[2022-09-17 20:59] fogracvxy commented on #258
Thanks for taking a look into it and fixing it :)

[2022-09-17 21:24] kirtan-desai commented on #258
Already did that. It works. Making up a PR after upgrading to v7 in examples

[2022-09-18 08:27] fogracvxy commented on #258
Can't download your repo using `npm install` getting errors with node-sass if installing with "no optional". If I do normal install it gets stuck at fsevents.

[2022-09-18 10:59] kirtan-desai commented on #258
I'm able to run ```nom I``` after cloning the repo.

[2022-09-18 11:05] fogracvxy commented on #258
I am not sure what is happening with my` npm install https://github.com/kirtan-desai/ol-geocoder.git` stops with fsevents install and hangs there. `npm install https://github.com/kirtan-desai/ol-geocoder.git --no-optional` leaves me with node-sass errors Idk why...

[2022-09-18 11:14] Dominique92 commented on #258
Anyway, it seems to me more logical to call super first, then to use this:

Doing this:
[code]
If the parent constructor initialize this.layer, you will get his value.

is not the same than:
[code]
you will get your value

Example : https://github.com/openlayers/openlayers/blob/main/src/ol/control/FullScreen.js#L83-L97

[2022-09-18 11:17] kirtan-desai commented on #258
installing with npm directly is also working for me. why don't you try cloning the repo and running it?

[2022-09-18 11:42] kirtan-desai commented on #258
@Dominique92  Did you take a look at my PR #259?

[2022-09-18 11:52] Dominique92 commented on #258
Sorry ! It's super :)
Awaiting the dist (I don't use npm)

[2022-09-18 12:05] kirtan-desai commented on #258
Just clone the repo, run ```npm i``` and then run ```npm run build```. You'll get the files in dist folder.

[2022-09-18 13:01] Dominique92 commented on #258
Sorry, I use Windows where npm is a mess, not linux
I will wait the dist

[2022-09-19 16:55] kirtan-desai commented on #258
I don't know when my PR will be reviewed. Till then, [here](https://github.com/kirtan-desai/ol-geocoder-5-dist) are the dist files. Let me know if there's any issue.

[2022-09-19 18:45] Dominique92 commented on #258
Thank you. This dist works perfectly for me.

[2022-09-21 00:57] kirtan-desai commented on #258
Is this repo maintained anymore? Should I publish a package of my forked repo as ol-geocoder v5?

[2022-10-06 15:29] kirtan-desai commented on #258
Hey guys, I have published my forked repo of ol-geocoder which is compatible with openlayers 7. I'll be maintaining the fork. https://www.npmjs.com/package/@kirtandesai/ol-geocoder

[2022-10-12 15:47] kirtan-desai commented on #258
Hey Massimo, feel free to make this as a PR on my fork.

[2022-10-22 21:40] geraldo opened #260 "Limit search result to city"
What would it take to extend the plugin with an option to limit search results to cities, for example named `citycodes`?

Nominatim has an option for this called `city=<city>` as explained [here](https://nominatim.org/release-docs/latest/api/Search/#parameters), so that seems possible adding it to OSM provider.

I also saw `viewbox` parameter in [ol-ext SearchNominatim control](https://viglino.git